# Node.js dependencies
node_modules/

# Playwright Test Outputs & Reports
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db

# IDE & Editor settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
